name: nn_env

channels:
  - pytorch
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - pip
  - numpy
  - pandas
  - matplotlib
  - scikit-learn

  # PyTorch via conda (stable on Windows)
  - pytorch
  - torchvision
  - torchaudio

  # pip-only packages
  - pip:
      - nnfs
